<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hmasand.thepensieve">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name="com.hmasand.thepensieve.ThePensieveApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="Sg9TDemKvCGRZTDJZl43etC4ReF71Dtcap7hRcIo" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="X4YPvG9lGlQKK901XPsiWqn9aig2QNQqZ6SkFb6N" />

        <activity android:name=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
